.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include media ($tablet-breakpoint) {
      padding: 10px 30px;
      & + .btn {
        margin-left: 10px;
      }
    }
  }
  
  $btn-backgrounds: ("default": $sky-blue, 
                     "error": #e4757a, 
                     "info": $purple, 
                     "success": #63cc82, 
                     "warning": #fd7856);

  @each $name, $color in $btn-backgrounds {
    .#{$name} {
      background-color: $color;
      @include lighten-hover($color);
    }
  }

