.container {
    padding: 0 10px;
    @include media ($tablet-breakpoint) {
      max-width: 1400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include media ($tablet-breakpoint) {
      flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include media ($tablet-breakpoint) {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
      & + [class^=col] {
        margin-left: 10px;
      }
    }
  }
  
  $theme-colors: $purple, #fd9856,
                          #deb2ee,
                          #7ee6fd, 
                          #88d9a0, 
                          #4da2bb, 
                          #ec9fa3, 
                          #fd9f85, 
                          #e4757a, 
                          #63cc82, 
                          $sky-blue, 
                          #80e8d1;

  @for $i from 1 through length($theme-colors) {
    $color: nth($theme-colors, $i);
    .theme.col-#{$i} {
    background-color: $color;
    }
}


  
  .card {
    flex-basis: 100%;
  }
  
  @media (min-width: $tablet-breakpoint) {
    
    .centered {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .col-1 {
      flex-basis: 8.33%;
    }
    
    .col-2 {
      flex-basis: 16.67%;
    }
    
    .col-3 {
      flex-basis: 25.00%;
    }
    
    .col-4 {
      flex-basis: 33.33%;
    }
    
    .col-5 {
      flex-basis: 41.67%;
    }
    
    .col-6 {
      flex-basis: 50.00%;
    }
    
    .col-7 {
      flex-basis: 58.33%;
    }
    
    .col-8 {
      flex-basis: 66.67%;
    }
    
    .col-9 {
      flex-basis: 75.00%
    }
    
    .col-10 {
      flex-basis: 83.33%;
    }
    
    .col-11 {
      flex-basis: 91.67%;
    }
    
    .col-12 {
      flex-basis: 100%;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }