// base styles

* {
    font-family: 'Lato', sans-serif; 
}

// tyopgraphy

.headline-secondary {
    font-weight: 300;
}


.link {
    font-weight: 700;
  }

  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
}
 